<div class="sm:mx-auto sm:w-full sm:max-w-md">
  <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company" />
  <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">
    Edit your account
  </h2>
</div>
<div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
  <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }, html: { class: "space-y-6", method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="mt-4">
        <div>
          <%= f.label :email, class: "devise-label" %>
          <div class="mt-1">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "devise-input" %>
          </div>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <div>
          <%= f.label :password, class: "devise-label" %>
          <i>(Leave blank if you don't want to change it)</i>
          <div class="mt-1">
            <%= f.password_field :password, autocomplete: "new-password", class: "devise-input" %>
          </div>
        </div>
        <div>
          <%= f.label :password_confirmation, class: "devise-label" %>
          <div class="mt-1">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "devise-input" %>
          </div>
        </div>
        <div>
          <%= f.label :current_password, class: "devise-label" %>
          <i class="text-sm">(To confirm your changes)</i>
          <div class="mt-1">
            <%= f.password_field :current_password, autocomplete: "current-password", class: "devise-input" %>
          </div>
        </div>
        <div class="actions">
          <%= f.submit "Update", class: "devise-button" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="mt-6 sm:mx-auto sm:w-full sm:max-w-md">
  <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">
    Cancel your account
  </h2>
</div>
<div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
  <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "devise-danger-button" %>
  </div>
</div>
