<div class="p-4 max-w-md sm:p-6 lg:p-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-xl font-semibold text-gray-900">Your Account</h1>
      <p class="mt-2 text-sm text-gray-700"></p>
    </div>
  </div>
  <div class="mt-4 flex flex-col">
    <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put}, data: {turbo: false}) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="devise-field">
            <%= f.label :first, class: "devise-label" %>
            <%= f.text_field :first, autocomplete: "first", class: "devise-input" %>
          </div>
          <div class="devise-field">
            <%= f.label :last, class: "devise-label" %>
            <%= f.text_field :last,  autocomplete: "last", class: "devise-input" %>
          </div>
          <div class="devise-field">
            <%= f.label :email, class: "devise-label" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "devise-input" %>
          </div>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
          <div class="devise-field">
            <%= f.label :password, class: "devise-label" %> <i class="text-sm">(leave blank if you don't want to change it)</i>
            <%= f.password_field :password, autocomplete: "new-password", class: "devise-input" %>
            <% if @minimum_password_length %>
              <em class="text-sm"><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>
          <div class="devise-field">
            <%= f.label :password_confirmation, class: "devise-label" %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "devise-input" %>
          </div>
          <div class="devise-field">
            <%= f.label :current_password, class: "devise-label" %> <i class="text-sm">(we need your current password to confirm your changes)</i>
            <%= f.password_field :current_password, autocomplete: "current-password", class: "devise-input" %>
          </div>
          <div class="devise-field">
            <%= f.submit "Update", class: "btn btn-primary-full" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
