<%= form_for @restaurant, builder: TailwindBuilder do |f| %>
  <div class="shadow-md">
    <div class="mt-4 grid grid-cols-1 sm:grid-cols-2 mx-auto px-2 sm:divide-x divide-solid">
      <div class="p-4">
        <div>
          <h3 class="text-lg font-medium leading-6 text-gray-900">Business Information</h3>
          <p class="mt-1 text-sm text-gray-500">Use the valid information that customers can use to connect with you.</p>
        </div>
        <%= render partial: 'shared/form_errors', locals: {f:f} %>
        <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
          <div class="sm:col-span-4">
            <%= f.label :name, "Restaurant Name" %>
            <%= f.tw_text_field :name, required: true %>
          </div>
          <div class="sm:col-span-4">
            <%= f.label :address %>
            <%= f.tw_text_field :address, required: true %>
          </div>
          <div class="sm:col-span-4">
            <%= f.label :address2, "Address Continued" %>
            <%= f.tw_text_field :address2 %>
          </div>
          <div class="sm:col-start-1 sm:col-span-2">
            <%= f.label :city %>
            <%= f.tw_text_field :city, required: true %>
          </div>
          <div class="sm:col-span-2">
            <%= f.label :state %>
            <%= f.tw_text_field :state, required: true %>
          </div>
          <div class="sm:col-span-2">
            <%= f.label :zipcode %>
            <%= f.tw_text_field :zipcode, required: true %>
          </div>
          <div class="sm:col-span-4">
            <%= f.label :phone, "Phone Number" %>
            <%= f.tw_phone_field :phone %>
          </div>
          <div class="sm:col-span-4">
            <%= f.label :email, "Email Address" %>
            <%= f.tw_email_field :email %>
          </div>
          <div class="sm:col-span-4">
            <%= f.label :web, "Web Site" %>
            <%= f.site_field :web, {site: "https://"} %>
          </div>
          <div class="sm:col-span-4">
            <%= f.label :twitter %>
            <%= f.site_field :twitter, {site: "twitter.com/"} %>
          </div>
          <div class="sm:col-span-4">
            <%= f.label :instagram %>
            <%= f.site_field :instagram, {site: "instagram.com/"} %>
          </div>
          <div class="sm:col-span-4">
            <%= f.label :facebook %>
            <%= f.site_field :facebook, {site: "facebook.com/"} %>
          </div>
        </div>
      </div>
      <div class="p-4">
        <div>
          <h3 class="text-lg font-medium leading-6 text-gray-900">Business Hours</h3>
          <p class="mt-1 text-sm text-gray-500">Your regular operating hours of business.</p>
        </div>
        <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
          <%= f.fields_for :business_hours do |b| %>
            <%= b.hidden_field :day, value: b.index %>
            <div class="sm:col-span-5">
              <h3 class="font-medium leading-6 text-gray-900"><%= Date::DAYNAMES[b.index] %></h3>
            </div>
            <div class="-mt-4 sm:col-span-2">
              <%= b.label :open_at, "Open at", class: "block text-sm font-medium text-gray-700" %>
              <%= b.select :open_at, @hours, {class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"} %>
            </div>
            <div class="-mt-4 sm:col-span-2">
              <%= b.label :close_at, "Close at", class: "block text-sm font-medium text-gray-700" %>
              <%= b.select :close_at, @hours, {class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"} %>
            </div>
            <div class="-mt-4 sm:col-span-1 place-self-center">
              <%= b.check_box :closed, class: "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500" %>
              <%= b.label :closed, class: "font-medium text-gray-700" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="mt-4 p-5 flex justify-end">
      <%= f.submit "Save", class: "ml-3 inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
    </div>
  </div>
<% end %>
