<!DOCTYPE html>
<html>
  <head>
    <title>MenuMaker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  </head>
  <body>
    <div class="min-h-full">
      <header class="bg-gradient-to-r from-gray-800 to-gray-600 pb-24">
        <div class="mx-auto max-w-3xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
          <div class="relative sm:flex flex-wrap items-center justify-center lg:justify-between">
            <!-- Logo -->
            <div class="absolute left-0 flex-shrink-0 py-5 lg:static">
              <%= link_to root_path do %>
                <span class="sr-only">Menu Maker</span>
                <%= inline_svg_tag "logo.svg", class: 'h-9 w-9 stroke-white', alt: "Menu Maker" %>
              <% end %>
            </div>
          </div>
        </div>
      </header>
      <main class="-mt-20 sm:-mt-24 pb-8">
        <div class="mx-auto max-w-3xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
          <h1 class="sr-only">Profile</h1>
          <!-- Main 3 column grid -->
          <div class="mt-12 sm:mt-0 grid grid-cols-1 items-start gap-4 lg:grid-cols-3 lg:gap-8">
            <!-- Left column -->
            <div class="grid grid-cols-1 gap-4 lg:col-span-2">
              <section aria-labelledby="profile-overview-title">
                <div class="overflow-hidden rounded-lg bg-white shadow">
                  <div class="p-6">
                  <h2 class="sr-only" id="menu-section"><%= @menu.title %></h2>
                  <div class="max-w-xl">
                    <h2 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl lg:text-6xl"><%= @menu.title %></h2>
                    <p class="mx-auto mt-5 max-w-xl text-xl text-gray-500"><%= @menu.description %></p>
                  </div>
                  <% @menu.sections.order(position: :desc).each do |section|%>
                  <div class="mt-8">
                    <h3 class="text-lg font-medium">
                        <span class="absolute inset-0" aria-hidden="true"></span>
                        <%= section.title %>
                    </h3>
                    <p class="mt-2 text-sm text-gray-500"><%= section.description %></p>
                    <%= render(ItemComponent.with_collection(section.items.order(position: :asc), show_controls: false, show_handle: false, show_upload: false))%>
                  </div>
                <% end %>
                </div>
                </div>
              </section>
            </div>
            <!-- Right column -->
            <div class="grid grid-cols-1 gap-4">
              <section aria-labelledby="announcements-title">
                <div class="overflow-hidden rounded-lg bg-white shadow">
                  <div class="p-6">
                    <h2 class="text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl"><%= @menu.restaurant.name%></h2>
                    <div class="mt-2 text-base text-gray-500">
                      <p><%= @menu.restaurant.address %></p>
                      <p class="mt-1"><%= @menu.restaurant.address2 %></p>
                      <p class="mt-1"><%= @menu.restaurant.city %> <%= @menu.restaurant.state %>, <%= @menu.restaurant.zipcode %></p>
                    </div>
                    <div class="mt-9">
                      <div class="flex">
                        <div class="flex-shrink-0">
                          <%= content_tag(:span, :schedule, class: "material-symbols-outlined  text-gray-400") %>
                        </div>
                        <div class="ml-3 w-full text-base text-gray-500">
                          <% @menu.restaurant.business_hours.order(day: :asc).each do |day|%>
                            <div class="flex justify-between">
                              <%= Date::DAYNAMES[day.day] %>: 
                              <div><%= day.hours %></div>
                            </div>
                          <% end %>
                        </div>
                      </div>
                      <div class="mt-6 flex">
                        <div class="flex-shrink-0">
                          <%= content_tag(:span, :call, class: "material-symbols-outlined  text-gray-400") %>
                        </div>
                        <div class="ml-3 text-base text-gray-500">
                          <p><%= @menu.restaurant.phone%></p>
                        </div>
                      </div>
                      <div class="mt-2 flex">
                        <div class="flex-shrink-0">
                          <%= content_tag(:span, :mail, class: "material-symbols-outlined  text-gray-400") %>
                        </div>
                        <div class="ml-3 text-base text-gray-500">
                          <p><%= @menu.restaurant.email%></p>
                        </div>
                      </div>
                      <div class="mt-2 flex">
                        <div class="flex-shrink-0">
                          <%= inline_svg_tag "twitter.svg", class: 'h-6 w-6 stroke-white', alt: "Menu Maker" %>
                        </div>
                        <div class="ml-3 text-base text-gray-500">
                          <p><%= @menu.restaurant.twitter%></p>
                        </div>
                      </div>
                      <div class="mt-2 flex">
                        <div class="flex-shrink-0">
                          <%= inline_svg_tag "instagram.svg", class: 'h-6 w-6 stroke-white', alt: "Menu Maker" %>
                        </div>
                        <div class="ml-3 text-base text-gray-500">
                          <p><%= @menu.restaurant.instagram%></p>
                        </div>
                      </div>
                      <div class="mt-2 flex">
                        <div class="flex-shrink-0">
                          <%= inline_svg_tag "facebook.svg", class: 'h-6 w-6 stroke-white', alt: "Menu Maker" %>
                        </div>
                        <div class="ml-3 text-base text-gray-500">
                          <p><%= @menu.restaurant.facebook%></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="mx-auto max-w-3xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
        <div class="border-t border-gray-200 py-8 text-center text-sm text-gray-500 sm:text-left"><span class="block sm:inline">&copy; 2021 Your Company, Inc.</span> <span class="block sm:inline">All rights reserved.</span></div>
      </div>
    </footer>
  </div>
</body>
</html>
